:root {
  --border-color: #222426;
  --text-color: #f5f5f5;
  --secondary-color: #0f0f10;
  --bg-color: #000000;
}

@font-face {
  font-family: 'Visby';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/VisbyCF-Regular.woff2') format('woff2');
}

body {
  background-color: var(--bg-color);
  margin: 0;
  padding-bottom: 24px;
}

* {
  font-family: 'Visby';
  color: var(--text-color);
}
