:root {
  --border-color: #222426;
  --text-color: #f5f5f5;
  --secondary-color: #0f0f10;
  --bg-color: #000000;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  padding-bottom: 24px;
}

* {
  font-family: 'Pilat Wide', sans-serif;
  color: var(--text-color);
}
